includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    symfony:
        container_xml_path: %rootDir%/../../../tests/app/var/cache/test/appKernelTestDebugContainer.xml
    excludes_analyse:
        - %currentWorkingDirectory%/tests/app/*
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children().#'
